#feed-nav {
    background-color: white;
    z-index: 1;
    padding: 2rem;
    position: sticky;
    top: 0;
}
#feed-nav h2 {
    font-size: 1.2rem;
    letter-spacing: 1px;
    font-weight: 600;
}

#feed-nav .row {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(100px,1fr));
}
#feed-nav .row > * {
    /* border: 1px solid black; */
    text-align: center;
    display: flex;

}
#feed-nav .row>* a {
    /* border: 1px solid red; */
    flex: 1;
    padding: 0.8rem; 
}
#feed-nav .row .active {
    border-bottom: 3px solid #08a0e9;
    font-weight: 600;
}

#feed-nav .row>*:hover {
    background-color: gainsboro;
}